.form-checkbox {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0rem;
  width: 25rem;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1rem;
  color: rgb(95, 95, 95);
  padding: 1rem 1rem 1rem 1.5rem;
}

.form-checkbox-label {
  color: rgb(95, 95, 95);
  padding-left: 0.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#checkbox {
  font-size: 1.5rem;
  accent-color: var(--nav-bar_color);
}

/* .form-input-icon {
  color: rgb(95, 95, 95);
  font-size: 1.2rem;
  position: absolute;
  margin-left: 1.5rem;
  margin-top: 0.7rem;
}

@media (max-width: 25rem) {
  .form-input-with-icon {
    margin: 0.5rem 0rem;
    width: 80%;
  }
  .form-input-icon {
    margin-top: 1.5rem;
  }
} */

.long {
  display: block;
}
.short {
  display: none;
}

@media (max-width: 25rem) {
  .form-checkbox {
    width: 80%;
    margin: 0.5rem 0rem;
  }
  .long {
    display: none;
  }
  .short {
    display: block;
  }
}
